body {
  margin: 0px;
}

.bg-container {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/ocean.jpg");
  background-size: cover;
  height: 100vh;
}

.card {
  text-align: center;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 5px;
}

.button {
  height: 36px;
  width: 138px;
  background-color: #25b1cc;
  color: white;
  border-radius: 5px;
  border-width: 0px;
}
